@font-face {
    font-family: 'neue_montrealregular';
    src: url('../fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
         url('../fonts/neuemontreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neue_montrealmedium';
    src: url('../fonts/neuemontreal-medium-webfont.woff2') format('woff2'),
         url('../fonts/neuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;

}

@font-face {
    font-family: 'neue_montreallight';
    src: url('../fonts/neuemontreal-light-webfont.woff2') format('woff2'),
         url('../fonts/neuemontreal-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_montrealbold';
    src: url('../fonts/neuemontreal-bold-webfont.woff2') format('woff2'),
         url('../fonts/neuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;

}
